<div class="container">
<div class="body">
  <h3>
  <strong><i class="p-2 text-dark offset-4">Cadastro de um Novo Médico</i></strong>
</h3><hr>
    <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()" class="offset-1">
      <div class="row mb-3"></div>
      <div class="row mb-3"></div>

      <div *ngIf="mensagem" class="mb-3 alert alert-primary">
        <strong>{{ mensagem }}</strong>
      </div>
      <div class="row mb-3 ">

        <div class="col-md-5">
          <label><strong>Nome do Médico</strong></label>
          <input type="text" class="form-control" formControlName="nome" />
          <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
            <span *ngIf="form.nome.errors.required">
              <strong> Por favor insira um nome.</strong>
            </span>
          </div>
        </div>
        <div class="col-md-5">
          <label> <strong>Crm</strong></label>
          <input type="text" class="form-control" formControlName="crm" maxlength="5"/>
          <div class="text-danger" *ngIf="form.crm.touched && form.crm.invalid">
            <span *ngIf="form.crm.errors.required">
              <strong> Por favor, insira um CRM.</strong></span>
          </div>
        </div>
      </div>
      <div class="row mb-3 ">
        <div class="col-md-5">
          <label class="ls-label col-md-3"><b class="ls-label-text">Telefone</b></label>
          <input type="text" class="form-control ls-mask-phone9_with_ddd" formControlName="telefone" placeholder="(00)00000-0000" maxlength="11"/>
          <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
            <span *ngIf="form.telefone.errors.required">
              <strong>Coloque um telefone para registro.</strong>
            </span>
          </div>
        </div>
        <div class="col-md-5">
          <label class="ls-label col-md-3"><b class="ls-label-text">Tipo</b></label>
          <input type="text" class="form-control" formControlName="tipo" placeholder="Ex. Massoterapeuta"/>
          <div class="text-danger" *ngIf="form.tipo.touched && form.tipo.invalid">
            <span *ngIf="form.tipo.errors.required">
              <strong> Digite uma especialização.</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3"></div>
      <div class="row mb-3"></div>

      <div class="row mb-3">
        <div class="col-md-12">
          <input
            type="submit"
            [disabled]="!formCadastro.valid"
            class="btn btn-primary"
            value="Realizar Cadastro"
          />
        </div>
      </div>
    </form>
  </div>
</div>
