
  <h4><strong class="p-2 text-light bg-opacity-75"> Consulta de Médicos  </strong></h4>
  <div class="body opacity-100">
    &nbsp;
    <Strong><h5>Lista de Médicos Cadastrados</h5></Strong>

  <table class="table table-over table-sm">
    <thead>
      <tr>

        <td><strong>Nome</strong></td>
        <td><strong>CRM</strong></td>
        <td><strong>Telefone</strong></td>
        <td><strong>Tipo</strong></td>
        <td><strong>Ações</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of registro">

        <td>{{p.nome}}</td>
        <td>{{p.crm}}</td>
        <td>{{p.telefone}}</td>
        <td>{{p.tipo}}</td>
        <td>
          <button class="btn btn-outline-success p-2 opacity-100" [routerLink]="['/edicao',p.id_paciente]">Editar</button>&nbsp;
          <button class="btn btn-outline-danger p-2 opacity-100" (click)="excluir(p.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">Total de Registros: {{registro.length}}</td>
      </tr>
    </tfoot>
  </table>
</div>
