<div class="body">
  <a class="links" id="paracadastro"></a>
  <a class="links" id="paralogin"></a>

  <div id="cadastro" class="row md-6">
    <form method="post" action="">
      <h1 [align]="">Página de Login</h1>

      <div class="col-mb-12">
        <label>Seu nome</label>
        <td></td>
        <input
          id="nome_cad"
          name="nome_cad"
          required="required"
          type="text"
          placeholder="nome"
        />
      </div>

      <div class="col-mb-12">
        <label>Login </label>
        <td></td>
        <input
          name="login"
          required="required"
          type="text"
          placeholder="login"
        />
      </div>

      <div class="col-mb-12">
        <label>Sua senha</label>
        <td></td>
        <input
          name="senha"
          required="required"
          type="password"
          placeholder="senha"
        />
      </div>
      <div>
        <button class="btn btn-primary">
          <input type="submit" value="Login" />
        </button>
      </div>
    </form>
  </div>
</div>
